.container {
    .side-nav {
        width: 300px;
        background: rgb(34, 35, 38);

        .header-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 10px;

            .profile-logo {
                max-height: 80px;
                max-width: 80px;
                border-radius: 50%;
                margin: 20px 15px;
                cursor: pointer;
            }

            .head-txt {
                display: flex;
                flex-direction: column;
            }

            .name-txt {
                color: white;
                font-size: 22px;
                cursor: pointer;
            }

            .logout {
                color: rgb(165 165 172);
                cursor: pointer;
            }
        }

        .social-part {
            display: flex;
            flex-direction: row;
            color: rgb(165 165 172);
            gap: 20px;
            margin-left: 25px;

            .following-txt {
                display: flex;
                flex-direction: column;
                cursor: pointer;
            }

            .follower-txt {
                display: flex;
                flex-direction: column;
                cursor: pointer;
            }

            .social-text {}
        }
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        color: rgb(165 165 172);
        margin: 10px;
    }

    .icon-font {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0;
    }

    .menu-font {
        font-size: 22px;
        position: absolute;
        white-space: nowrap;
        cursor: pointer;
        padding: 0 50px;
    }

    .btn-container button:hover {
        color: white;
        transform: translateY(-1px) translateX(5px);
        font-weight: 500;
        transform: scale(1.2);
        transition: color 0.1s ease-in-out, transform 0.3s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}