<div>
    <p class="header-txt">Stream</p>
    <div class="card-main">
        <div class="card" *ngFor="let item of track.tracks.items">
            <img class="artist-img" src="{{ item.track.album.images[1].url }}" alt="Track Image" />
            <div class="normal-txt">
                <div class="txt">{{ item.track.name }}</div>
                <div class="sub-text">Artist: {{ item.track.artists[0].name }}</div>
                <div class="sub-text">Popularity: {{ item.track.popularity }}</div>
            </div>
        </div>
    </div>
</div>

<div class="music-player">
    <audio #audioPlayer [src]="audioUrl"></audio>
    <button class="btn-common" mat-button (click)="shuffleTracks()"><mat-icon class="player-icon">shuffle</mat-icon></button>
    <button class="btn-common" mat-button (click)="goBackward()"><mat-icon class="player-icon">skip_previous</mat-icon></button>
    <button class="btn-common" mat-button (click)="fastBackward()"><mat-icon class="player-icon">fast_rewind</mat-icon></button>
    <button class="btn-common" mat-button (click)="playPause()">
        <mat-icon class="player-icon">{{ isPlaying ? 'pause_circle' : 'play_circle' }}</mat-icon></button>      
        <button class="btn-common" mat-button (click)="fastForward()"><mat-icon class="player-icon">fast_forward</mat-icon></button>
        <button class="btn-common" mat-button (click)="goForward()"><mat-icon class="player-icon">skip_next</mat-icon></button>
        <button class="btn-common" mat-button [(ngModel)]="repeat" (ngModelChange)="toggleRepeat()"><mat-icon class="player-icon">replay</mat-icon></button>
      
    <button class="btn-common" mat-button (click)="toggleMute()">
        <mat-icon class="player-icon">{{ !isMute ? 'volume_up' : 'volume_off' }}</mat-icon>
      </button>    
    <input type="range" min="0" max="100" [(ngModel)]="volume" *ngIf="!isMute" (input)="changeVolume()">
</div>