.header-txt {
    color: white;
    margin-left: 30px;
    font-size: 35px;
    cursor: pointer;
}

.card-main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px 90px;


    .card {
        display: flex;
        flex-direction: column;


        .artist-img {
            height: 200px;
            width: 200px;
            cursor: pointer;
        }

        .normal-txt {
            font-size: 20px;
            color: white;
            max-height: 85px;
            max-width: 200px;

            .txt {
                margin: 8px 0;
                max-height: 44px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                cursor: pointer;
            }

            .sub-text {
                font-size: 16px;
                color: rgb(139, 158, 170);
                cursor: pointer;
            }
        }
    }
}

.music-player {
    position: fixed;
    bottom: 0;
    background: rgb(34, 35, 38);
    height: 100px;
    width: 100%;

    .btn-common {
        color: white;
        margin: 35px;
    }

    .player-icon {
        font-size: 45px;
        height: 120%;
        width: 100%;
    }

    .btn-playpause {
        display: none;
    }
    
    .btn-playpause.active {
        display: inline-block;
    }
}